# Project build files
build/
deps/


# Sublime files
*.sublime-workspace


# IntelliJ
.out-idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/copyright/
.idea/runConfigurations.xml


# Python
*.pyc


# Common OS/Editor files
*~
._*

.DS_Store
.DS_Store?

Thumbs.db
ehthumbs.db
Desktop.ini


# Vim files
*.swp


# Gradle
.gradle/
