# This is the root directory, don't bubble up from here
config.stopBubbling = true

# Don't prefix accessors with 'get' or 'is'
lombok.accessors.fluent = true

# Flag the usage of any logger except standard logger
lombok.log.apacheCommons.flagUsage = error
lombok.log.jbosslog.flagUsage = error
lombok.log.log4j.flagUsage = error
lombok.log.log4j2.flagUsage = error
lombok.log.slf4j.flagUsage = error
lombok.log.xslf4j.flagUsage = error

# Name log with capital letters
lombok.log.fieldName = LOG

# By default, don't use getters; they make things overly complicated
lombok.equalsAndHashCode.doNotUseGetters = true
